.product-info-top {
  display: flex;
  align-items: center;
  justify-content: unset;
  /* justify-content: space-between; */
}

.image_list {
  margin-right: 60px;
}

.image_list ul {
  padding: 0;
  margin: 0;
}

.image_list ul li {
  width: 85px;
}

.image_list ul li img {
  width: 100%;
}

.main_image {
  width: 40%;
  flex-shrink: 0;
  margin-right: 20px;
  /* height: 590px; */
}

.main_image img {
  width: 100%;
}

.description-container {
  width: 100%;
  padding: 40px;
}

.description-container img {
  width: 100%;
}

.infomation {
  padding: 39px;
}

.infomation .title {
  text-align: left;
  font: normal normal bold 22px/40px Lato !important;
  letter-spacing: 0px;
  color: #222222 !important;
}

.infomation .description {
  text-align: left;
  font: normal normal normal 13px/25px Lato !important;
  letter-spacing: 0px;
  color: #000000 !important;
  margin-top: 16px;
}

.rate i {
  color: #FFCE3D !important;
}

.price-box .deal-price {
  text-align: left;
  font: normal normal bold 33px/52px Lato !important;
  letter-spacing: 0px;
  color: #D92B2E !important;
}

.price-box .deal-price1 {
  text-align: left;
  font: normal normal bold 33px/52px Lato !important;
  letter-spacing: 0px;
  color: #2E4DCC !important;
}

.detail-filter .size-filter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.detail-filter .size-filter span {
  margin-right: 30px;
}

.detail-filter .size-filter ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.detail-filter .size-filter ul li {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #707070;
  margin-right: 13px;
}

.detail-filter .size-filter ul li.active {
  border: 1px solid #D92B2E;
}

.detail-filter .color-filter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.detail-filter .color-filter span {
  margin-right: 30px;
}

.detail-filter .color-filter ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.detail-filter .color-filter ul li {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #707070;
  margin-right: 13px;
}

.infomation .quantity {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.infomation .quantity span {
  margin-right: 58px;
}

.quatity-action {
  display: flex;
  align-items: center;
  border-radius: 27px;
  overflow: hidden;
  background: #F5F7FC
}

.quatity-action button {
  padding: 16px
}

.action-btn.quick_buy .infomation .quantity-btn {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  color: #333333 !important;
  font-size: 22px;
  background: #F5F7FC
}

.infomation .quantity .qty {
  text-align: center;
  font: normal normal bold 15px/25px Lato !important;
  letter-spacing: 0px;
  color: #D92B2E !important;
  padding: 0px 12px;
  background: #F5F7FC
}

.infomation .action {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.infomation .action button img {
  width: 17px;
  height: 16px;
  margin-right: 12px;
}

.infomation .action button {
  padding: 16px 27px;
  outline: none;
  border-radius: 68px;
  border: 1px solid #D92B2E;
  cursor: pointer;
}

.action-btn.add_to_cart {
  font: normal normal normal 15px/25px Lato !important;
  letter-spacing: 0px;
  color: #FFFFFF !important;
  text-transform: capitalize;
  background: #D92B2E;
  margin-right: 34px;
}

.action-btn.add_to_cart1 {
  font: normal normal 600 14px/22px Lato;
  letter-spacing: 0px;
  color: #222222 !important;
  text-transform: capitalize;
  /* margin-right: 34px; */
  background: #F2CD00 0% 0% no-repeat padding-box;
  border-radius: 26px;
  border: none !important;
  padding: 15px 20px !important;
}

.action-btn.quick_buy {
  background: #fff;
  text-align: left;
  font: normal normal normal 16px/25px Lato !important;
  letter-spacing: 0px;
  color: #D92B2E !important;
  text-transform: capitalize;
  padding: 16px 45px !important;
}

.action-btn.quick_buy a {
  color: #D92B2E !important;
}

.product-info-bottom ul.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  background: #F5F7FC;
}

.product-info-bottom .tabs li {
  text-align: left;
  font: normal normal bold 17px/27px Lato !important;
  letter-spacing: 0.65px;
  color: #222222 !important;
  text-transform: capitalize;
  padding: 19px 0px;
  cursor: pointer;
}

.product-info-bottom .tabs li.active {
  color: #D92B2E !important;
  border-bottom: 3px solid #D92B2E;
  position: relative;
}

.product-info-bottom .tabs li.active::before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px #D92B2E solid;
  left: 50%;
  bottom: -2px;
  transform: translate(-50%, 100%)
}

.product-info-bottom {
  margin-top: 32px;
}

.detail-info-bottom {
  width: 100%;
  padding-top: 32px;
}

.detail-info-bottom-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.detail-info-bottom.rates {}

.total-rate-container {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.total-rate-comments-container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.total-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #F5F7FC 0% 0% no-repeat padding-box;
  border-radius: 10px
}

.total-rate .rate-mark {
  text-align: center;
  font: normal normal bold 52px/72px Lato !important;
  letter-spacing: 1.77px;
  color: #222222 !important;
  text-transform: capitalize;
  margin-right: 20px;
}

.total-rate .rate-qty i {
  color: #FFCE3D !important
}

.total-rate .rate-qty p {
  text-align: center;
  font: normal normal normal 16px/22px Lato !important;
  letter-spacing: 0.54px;
  color: #222222 !important;
  margin: 0;
  margin-top: 6px;
}

.detail-rate {
  padding: 33px 18px;
}

.detail-rate-star_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-rate-star_field i {
  color: #FFCE3D !important;
  font-size: 12px;
}

.detail-rate-star_field .rate-percent {
  height: 12px;
  width: 120px;
  background: #BBBBBB;
  border-radius: 5px;
  overflow: hidden;
}

.detail-rate-star_field .rate-percent .percent {
  width: 60%;
  height: 12px;
  background: #FFCE3D;
  border-radius: 5px;
}

.comments-list {
  display: block !important;
  background: none !important;
}

.comments-list li {
  padding: 20px 33px !important;
  border-radius: 10px;
  overflow: hidden;
  background: #F5F7FC 0% 0% no-repeat padding-box;
  margin-bottom: 20px;
  height: 120px;
}

.detail-comment-container {
  display: flex;
  align-items: center;
}

.comment-avt {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 60px;
}

.comment-avt img {
  width: 100%;
}

.comment-content .content-top {
  display: flex;
  align-items: center;
}

.comment-content .content-top .comment-user {
  text-align: left;
  font: normal normal bold 16px/22px Lato !important;
  letter-spacing: 0px;
  color: #000000 !important;
  margin-right: 22px;
}

.comment-content .content-top .comment-star {
  font-size: 12px;
  color: #FFCE3D !important;
  margin-right: 22px;
}

.comment-content .content-top .comment-date {
  text-align: left;
  font: normal normal normal 14px/17px Lato !important;
  letter-spacing: 0px;
  color: #747474 !important;
}

.comment-content-content {
  font: normal normal normal 13px/25px Lato !important;
  letter-spacing: 0px;
  color: #000000 !important;
  margin: 0;
  margin-top: 12px;
}

.see_more_rate {
  text-decoration: underline;
  font: normal normal 600 18px/22px Lato !important;
  letter-spacing: 0px;
  color: #2077B7 !important;
  text-transform: capitalize;
  text-align: right;
}

.detail-info-bottom.combine .catalogs2 {
  margin-top: 0;
}