.footer-menu {
  justify-content: center;
}

.footer-menu-item {
  border-right: 1px solid #222222;
  border-left: 1px solid #222222;
  margin-right: -1px;
  text-align: center;
  font-size: 14px;
  font-family: Lato;
  letter-spacing: 0px;
  color: #222222 !important;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-menu-item a {
  color: #222222;
}

.footer {
  margin-top: 45px;
  background: #F5F7FC 0% 0% no-repeat padding-box;
  padding-top: 32px
}

.footer-content {
  text-align: center;
}

.footer-logo-block {
  width: 185px;
  display: inline-block;
  margin: 30px auto;
}

.footer-logo-block img {
  width: 100%;
}

.network-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-bottom: 30px;
}

.footer hr {
  background: #525252;
}

.network-item {
  width: 40px;
  height: 40px;
  margin: auto 14px;
}

.network-item img {
  width: 100%;
}

.site-info {
  padding: 30px 0px;
  font: normal normal normal 13px Lato !important;
  letter-spacing: 0px;
  color: #222222 !important;
}

.footer-inner1 {
  position: relative;
  z-index: 2;
  margin: auto;
  overflow: hidden;
  padding-top: 30px;
  /* border-top: #6da53b dashed 1px; */
  background: #101010 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #898989;
  margin-top: 45px;
}

.footer-title1 {
  text-align: left;
  font: normal normal bold 17px/23px Lato;
  letter-spacing: 0.58px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}