.collection_block img {
    width: 100%;
}

.collection {
    margin-top: 63px;
}

.ads_categories {
    margin-top: 45px;
}

.ads_home-block img, .category1_home-block img, .category2_home-block .category3_home-block img {
    width: 100%;
}

.ads_home-block {
    margin-bottom: 30px;
}

.ads_home-block img {
    height: 400px;
    object-fit: cover;
}

.category1_home-block img {
    height: 400px;
    object-fit: cover;
}

.category3_home-block img {
    height: 187px;
    object-fit: cover;
}

.category2_home-block img {
    width: 100%;
    /* height: 763px; */
    height: 463px;
    object-fit: cover;
}

.flash_sale {
    margin-top: 66px;
}

.sale-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale-header .title {
    width: 320px;
    padding: 24px;
    background: #D92B2E 0% 0% no-repeat padding-box;
    border-radius: 38px;
    opacity: 1;
    text-align: center;
    font: normal normal 24px Lato !important;
    letter-spacing: 0.82px;
    color: #FFFFFF !important;
    text-transform: capitalize;
    opacity: 1;
}

.sale-header .dots {
    width: auto;
    padding: 0px 8px !important;
}

.sale-header .dots img {
    width: 100%;
}

.sale-categories-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 36px;
    justify-content: center;
}

.sale-categories-list li {
    margin: auto 22px;
    font: normal normal 600 18px/22px Lato !important;
    letter-spacing: 0.61px;
    color: #222222 !important;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
}

/* .flashsale .add-to-cart {
    top: 25px;
} */

.add-to-cart {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    transition: ease-in 0.1s;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #D92B2E 0% 0% no-repeat padding-box;
    font: normal normal 600 13px/22px Lato !important;
    color: white;
    border-radius: 32px;
    z-index: 5;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-to-cart i {
    margin-right: 0px !important;
    font-size: 18px
}

.sale-items {
    margin-top: 45px;
}

.sale-item-container {
    margin-bottom: 35px;
    position: relative;
}

.sale-item-container:hover .add-to-cart {
    display: flex;
}

.sale-item-container:hover img {
    filter: brightness(50%);
}

.sale-item-container {
    padding: 25px 15px;
    box-shadow: 0px 0px 5px #0000001A;
    display: flex;
    align-items: center;
}

.hot-items .sale-item-container, .product-list-container .sale-item-container {
    display: block;
    padding: 12px
}

.item-image-container {
    display: block;
    width: 100%;
    overflow: hidden;
    cursor: pointer
}

.hot-items .item-image-container, .product-list-container .item-image-container {
    margin: 0 auto;
}

.sale-item-thumb:hover img {
    transform: scale(1.2);
    animation: all 0.2s;
    transition: .3s ease;
}

.sale-item-thumb {
    position: relative;
}

.sale-item-thumb.t111_item {
    flex-shrink: 0;
    width: 50%;
    /* height: auto; */
}

.sale-item-thumb img {
    width: 100%;
    object-fit: cover;
}

.sale-item-info {
    /* height: 144px; */
    margin-left: 14px;
    padding: 14px 0px;
}

.hot-items .sale-item-info, .product-list-container .sale-item-info {
    margin-left: 0px;
    padding-bottom: 0;
}

.sale-price-title a {
    text-align: left;
    font: normal normal 600 14px Lato !important;
    letter-spacing: 0.51px;
    color: #222222 !important;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
}

.sale-price-title a:hover, .news_items-title a:hover {
    color: #D92B2E !important
}

.sale-price-box {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.hot-items .sale-price-box, .product-list-container .sale-price-box {
    margin: 12px 0px;
}

.sale-price-box .price {
    padding: 8px 10px;
    padding-right: 12px;
    position: relative;
    background: #D92B2E;
    text-align: left;
    font: normal normal 12px Lato !important;
    letter-spacing: 0.54px;
    color: #FFFFFF !important;
}

.sale-price-box .price::before {
    content: '';
    position: absolute;
    border: 9px solid transparent;
    top: -14px;
    right: -9px;
    border-bottom: 44px solid white;
}

.old-price {
    margin-left: 4px;
    text-align: left;
    text-decoration: line-through;
    font: normal normal 12px Lato !important;
    letter-spacing: 0.48px;
    color: #B5B5B5 !important;
}

.sale-price-rate {
    color: #FFCE3D !important;
    margin-top: 17px;
}

.hot-items .sale-price-rate, .product-list-container .sale-price-rate {
    margin: 8px 0px;
}

.catalogs1 img {
    width: 100%;
}

.catalogs2 {
    margin-top: 63px;
}

.catalogs2 .hot-title {
    padding: 0 !important;
    text-align: center;
    font: normal normal bold 30px/42px Lato !important;
    letter-spacing: 1.02px;
    color: #222222 !important;
    text-transform: capitalize;
    opacity: 1;
}

.catalogs2 .hot-items, .product-list-container {
    margin-top: 45px;
}

.catalogs2 .see_more, .catalogs3 .see_more {
    text-align: center;
}

.catalogs3 .see_more {
    margin-top: 45px;
}

.catalogs2 .see_more-link, .catalogs3 .see_more-link {
    text-align: left;
    text-decoration: underline;
    font: normal normal 600 18px/22px Lato;
    letter-spacing: 0px;
    color: #2E4DCC !important;
    text-transform: capitalize;
    cursor: pointer;
}

.home_ads_1 {
    margin-top: 60px;
    height: 600px;
    margin-bottom: 80px;
}

.home_ads_1 img {
    width: 100%;
}

.home_ads_1 .block_2 {
    margin-top: 45px;
}

.block2-container {
    position: relative;
}

.home_ads_1 .ads_1 {
    position: absolute;
    width: 30%;
    margin-bottom: 32px;
    background: #32EAA1;
    height: 330px;
    z-index: 3;
    left: 0;
}

.home_ads_1 .ads_1::before {
    content: '';
    width: 69px;
    height: 406px;
    position: absolute;
    top: 0px;
    right: -52px;
    z-index: 1;
    border: 51px solid transparent;
    border-top: #32EAA1 330px solid;
}

.home_ads_1 .ads_2 {
    right: 0;
    position: absolute;
    width: 70%;
    margin-top: 32px;
}

.home_ads_1 .ads_2::before {
    content: '';
    position: absolute;
    top: -31px;
    width: 50px;
    height: 418px;
    background: white;
    z-index: 1;
    transform: rotate(9deg);
}

.home_ads_1 .ads_1 a {
    position: absolute;
    z-index: 4;
    text-align: left;
    font: normal normal normal 32px Lobster !important;
    width: 80%;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    letter-spacing: 1.46px;
    color: #FFFFFF !important;
}

.home_ads_1 .ads_1 img {
    width: 80%;
    display: block;
    margin: 12px 0px;
}

.home_ads_1 .ads_1 a:hover {
    color: white !important;
}

.catalogs3 {
    margin-top: 32px;
}

.side-articles {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.detail-26 {
    font: normal normal 600 14px/22px Lato;
    letter-spacing: 0px;
    color: #2E4DCC;
    text-transform: capitalize;
    text-decoration: underline;
}

.catalogs3 .sale-header {
    font: normal normal bold 30px/42px Lato !important;
    letter-spacing: 1.02px;
    color: #D92B2E !important;
    text-transform: capitalize;
    text-align: center;
}

.ig-img {
    height: 192px;
    border-radius: 8px;
}

.news_items {
    margin-top: 45px;
}

.catalogs3 .new_items_block {}

.news_items-container {
    padding: 8px;
}

.news_items-thumb img {
    width: 100%;
}

.news_items-img-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.news_items-info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.news_items-date {
    margin-right: 14px;
}

.news_items-date span {
    padding: 12px;
    font: normal normal bold 16px/29px Lato !important;
    letter-spacing: 0.54px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F2CD00;
    border-radius: 4px;
    opacity: 1;
    color: #222222 !important;
}

.news_items-title a {
    text-align: left;
    font: normal normal bold 14px Lato !important;
    text-decoration: none;
    letter-spacing: 0.61px;
    color: #222222 !important;
}

.side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-content h1 {
    text-align: center;
    font: normal normal 600 14px Lato !important;
    letter-spacing: 0px;
    color: #222222 !important;
    text-transform: uppercase;
    margin: 20px auto;
}

.side-content span {
    text-align: center;
    font: normal normal 600 13px/26px Lato !important;
    letter-spacing: 0px;
    color: #222222 !important;
    justify-content: center;
    ;
}

.instagram {
    margin-top: 60px;
}

.ig-img-items {
    margin-bottom: 30px;
}

.ig-img-items img {
    width: 100%;
    object-fit: cover;
}

.ig-images {
    align-items: center;
}

.discount_111 {
    width: 64px;
    height: 38px;
    background: 0% 0% no-repeat padding-box padding-box rgb(242, 205, 0);
    position: absolute;
    font: normal normal bold 16px/28px Krub;
    letter-spacing: 0.54px;
    color: #222222;
    text-transform: capitalize;
    opacity: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.discount_112 {
    width: 57px;
    height: 32px;
    right: 20px;
    top: 20px;
    background: 0% 0% no-repeat padding-box padding-box rgb(242, 205, 0);
    position: absolute;
    font: normal normal bold 16px/28px Krub;
    letter-spacing: 0.54px;
    color: #222222;
    text-transform: capitalize;
    opacity: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ig-side-block {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flashsale .owl-carousel.owl-loaded.owl-drag {
    position: relative;
}

.flashsale .owl-carousel.owl-loaded.owl-drag:hover .owl-prev, .owl-carousel.owl-loaded.owl-drag:hover .owl-next {
    display: block;
}

.flashsale .owl-next span {
    font-size: 50px;
    display: block;
    padding: 10px;
}

.flashsale .owl-prev span {
    font-size: 50px;
    display: block;
    padding: 10px;
}

.flashsale .owl-prev, .owl-next {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    /* display: none; */
    border: none;
    outline: none;
}

.flashsale .owl-prev {
    left: 0;
}

.flashsale .owl-next {
    right: 0;
}

.flashsale .owl-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: static !important;
    /* top: 50% */
}

.flashsale .owl-nav button span {
    background: #3b383831;
    height: 50px;
    width: 50px;
    color: transparent;
    position: relative;
    border-radius: 50%;
}

.flashsale .owl-next span::before {
    content: '>';
    font-family: monospace;
    position: absolute;
    color: rgba(8, 8, 8, 0.822);
    font-size: 30px;
    top: 0
}

.flashsale .owl-prev span::before {
    content: '<';
    font-family: monospace;
    position: absolute;
    color: rgba(8, 8, 8, 0.822);
    font-size: 30px;
    top: 0
}

/* lsajfaslf */

.collection .owl-carousel.owl-loaded.owl-drag {
    position: relative;
}

.collection .owl-carousel.owl-loaded.owl-drag:hover .owl-prev, .owl-carousel.owl-loaded.owl-drag:hover .owl-next {
    display: block;
}

.collection .owl-next span {
    font-size: 50px;
    display: block;
    padding: 10px;
}

.collection .owl-prev span {
    font-size: 50px;
    display: block;
    padding: 10px;
}

.collection .owl-prev, .owl-next {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    /* display: none; */
    border: none;
    outline: none;
}

.collection .owl-prev {
    left: 0;
}

.collection .owl-next {
    right: 0;
}

.collection .owl-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: static !important;
    /* top: 50% */
}

.collection .owl-nav button span {
    background: #3b383831;
    height: 50px;
    width: 50px;
    color: transparent;
    position: relative;
    border-radius: 50%;
}

.collection .owl-next span::before {
    content: '>';
    font-family: monospace;
    position: absolute;
    color: rgba(8, 8, 8, 0.822);
    font-size: 30px;
    top: 0
}

.collection .owl-prev span::before {
    content: '<';
    font-family: monospace;
    position: absolute;
    color: rgba(8, 8, 8, 0.822);
    font-size: 30px;
    top: 0
}

.new-product-112 {
    font: normal normal bold 20px/40px Lato;
    letter-spacing: 0.88px;
    color: #222222;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
}

#banner .owl-carousel.owl-loaded.owl-drag .owl-dots {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2px;
}

#banner .owl-carousel.owl-loaded.owl-drag .owl-dots .owl-dot span {
    margin: 1px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    display: block;
}

#banner .owl-carousel.owl-loaded.owl-drag .owl-dots .owl-dot {
    margin: 0px 5px;
}

#banner .owl-carousel.owl-loaded.owl-drag .owl-dots .active {
    background: #FFFFFF;
    border-radius: 6px;
    opacity: 1;
}