.my_col-5-1 {
    width: 20%;
    padding: 0px 15px;
}

.my_col-5 {
    width: 25%;
    padding: 0px 15px;
}

.my_col-12 {
    width: 100%;
    padding: 0px 15px;
}

.my_col-4 {
    width: 80%;
    padding: 0px 15px;
}

@media (max-width: 1199px) {
    .my_col-lg-3 {
        width: 33.33333333%;
        padding: 0px 15px;
    }
}

@media (max-width: 991px) {
    .hidden_desktop {
        display: none;
    }
    .my_col-md-3 {
        width: 33.33333333%;
        padding: 0px 15px;
    }
    .my_col-md-100 {
        width: 100%;
    }
    .md-hide {
        display: none;
    }
    .md-appear {
        display: block
    }
}

@media (max-width: 767px) {
    .sm-hide {
        display: none;
    }
    .col-hide {
        color: rgb(217, 43, 46);
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .sm-hide {
        cursor: pointer;
    }
    .col-hide {
        display: none;
    }
}

.hidden_mb {
    display: block;
}

.hidden_desktop {
    display: none;
}

@media (min-width: 992px) {
    .hidden_mb {
        display: none;
    }
    .hidden_desktop {
        display: block;
    }
}

@media (max-width: 767px) {
    .my_col-sm-2 {
        width: 50%;
        padding: 0px 15px;
    }
}

@media (max-width: 500px) {
    .my_col-xm-12 {
        width: 100%;
        padding: 0px 15px;
    }
    .my_col-xm1-12 {
        width: 50%;
        padding: 0px 15px;
    }
    .my_col-12 {
        width: 100%;
        padding: 0px 15px;
    }
    .image-mobile-112 {
        height: auto !important;
    }
    .discount_112 {
        width: 32px !important;
        font-size: 10px !important;
        height: 17px !important;
    }
}

.hide {
    display: none;
}